.input {
    margin-bottom: 15px;
}
.search-field {
    position: relative;
    .notification {
        color: hsl(141, 71%, 48%);
        position: absolute;
        right: 0;
        z-index: 9;
    }
}
